<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Columbarium</title>
    <link rel="stylesheet" th:href="@{/css/style3.css}"/>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet">
</head>
<body>
<section>
    <div class="square"></div>
    <header>
        <a th:href= "@{/}" ><img th:src="@{/css/images/clogo.png}" class="logo"></a>
        <h2>San Jose Parish</h2>
        <ul>
            <li><a th:href= "@{/}">Home</a></li>
            <li><a th:href= "@{/contact-us}">Contact us</a></li>
            <li><a th:href= "@{/about-us}">About us</a></li>
            <li><a th:href= "@{/login}">Login</a></li>
        </ul>
    </header>
    <div class="acontent">
        <h2>ABOUT US</h2>
        <p>"We" started with a small idea keeping up in advancing of technology, Our team "DAMM" in Capstone Project,<br><br>
            "We" create an online website to provide and to commence a new way of rental and reservation.<br><br> "We" believe that being
            consistent is powerful, hardwork is essential, and exploring the unknown is important.<br><br> "We" are a student of
            STI College Caloocan "We" define ourself as a phenomenal which we are always moving forward,<br>&nbsp;&nbsp; always be pushing
            to succeed in everything we do and have a strong drive.<br><br> "We" create a highly functional and consistent online reservation website
            fueled by passion.</p>
    </div>
</section>
<div class="mission">
    <div class="imgmission">
        <img th:src="@{/css/images/mission.png}" class="mimg">
    </div>
    <div class="mtext">
        <h2>MISSION</h2>
        <p>
            To provide a way for the clients to access the services of Columbarium department<br> of San Jose Parish through online services. We are committed to our customer's<br> satisfaction when accessing the services provided by the team.
        </p>
    </div>
</div>
<div class="vision">
    <div class="vtext">
        <h2>VISION</h2>
        <p>
            To continuously deliver in-demand services of the columbarium department<br> of San Jose Parish to the clients. We strive to make our online services to be<br> accommodating, functional and well maintained to the customers.
        </p>
    </div>
    <div class="imgvision">
        <img th:src="@{/css/images/vision.png}" class="vimg">
    </div>
</div>
<div class="wdwd">
    <div class="imgwdwd">
        <img th:src="@{/css/images/wdwd.png}" class="wdwdimg">
    </div>
    <div class="wdwdtext">
        <h2>WHAT DO WE DO</h2>
        <p>
            The columbarium services behind the team provides much-needed online<br> services to the clients.<br><br>

            Our goal is to provide up-to-date online services to ensure the customers<br> an access to the online website. Even more so during the pandemic where<br> the customers have limited access to the services provided by the columbarium.
        </p>
    </div>
</div>
<div class="description">
    <div class="cdescript">
        <img th:src="@{/css/images/sanjose.jpg}" class="sanjosee">
    </div>
    <div class="sanjosetxt">
        <h2>San Jose Parish</h2>
        <p>
            The Parish of San Jose de Navotas was canonically erected on July 1, 1859. The construction of a provisional parish church started in November of the same year. It was in 1860, under the helm of Rev. Fr. Matias Naboa that the main altar was completed, the cemetery was inaugurated, and the belfry was erected.
            Our goal is to provide up-to-date online services to ensure the customers an access to the online website. Even more so during the pandemic where the customers have limited access to the services provided by the columbarium.<br><br> The origins of the devotion to St. Joseph in Navotas dates back in 1859 with the foundation of the parish of St. Joseph in Navotas and was placed under his patronage that marked the separation of Navotas to Hacienda Tambobong (now Malabon City). The Parish of San Jose de Navotas was canonically erected on July 1, 1859. The construction of a provisional parish church started in November of the same year. It was in 1860, under the helm of Rev. Fr. Matias Naboa that the main altar was completed, the cemetery was inaugurated, and the belfry was erected. Right from the start, the parish boasted of a spacious churchyard.
        </p>
    </div>
</div>
<h2 class="dev">DEVELOPERS</h2>
<div class="developer">
    <div class="apaya">
        <img th:src="@{/css/images/apaya.jpg}" class="apaya1">
    </div>
    <div class="apayatext">
        <h3>Miguel Karlos Apaya</h3>
        <h4>Programmer</h4>
    </div>
</div>
<div class="developer2">
    <div class="dale">
        <img th:src="@{/css/images/dale.jpg}" class="dale1">
    </div>
    <div class="daletext">
        <h3>Daryll Dale Marteja</h3>
        <h4>Document</h4>
    </div>
</div>

<div class="developer3">
    <div class="lans">
        <img th:src="@{/css/images/lans.jpg}" class="lans1">
    </div>
    <div class="lanstext">
        <h3>Lans Manuel</h3>
        <h4>Document</h4>
    </div>
</div>
<div class="developer4">
    <div class="lem">
        <img th:src="@{/css/images/lem.jpg}" class="lem1">
    </div>
    <div class="lemtext">
        <h3>Jose Lemuel De Guzman</h3>
        <h4>Document</h4>
    </div>
</div>
</body>
</html>